<div style="height: 400px; padding: 1px 0 0 0; oveflow:auto; text-align:justify;">
  <div class="card">
    <h2 class="card__title">{{titulo}}</h2>
    <p>Propuesta para {{fecha}}</p>

    <a href="http://172.10.200.66:3000{{documento.url}}" target="_url">Ver Documento <i class="fas fa-file-pdf"></i></a><br/>
    <div class="card__content"><br/>{{propuesta}}</div><br/>
  </div>
</div>